* {
	margin: 10px;
	padding: 10px;
	box-sizing: border-box;
}

body {
	font-family: 'Mukta', 'Source Sans Pro', sans-serif;
}

.padre {
	display: flex;
	flex-flow: column nowrap;
}

.header {
	background-color: black;
	display: flex;
	flex-flow: column nowrap;
}
	.menu {
		background-color: green;	
		display: flex;
		flex-flow: row nowrap;
		height: 100px;
		align-items: center;
	}

		.logo {
			background-color: fuchsia;
			flex: 1 1 auto;
			height: 30px;
		}
		.nav {
			background-color:fuchsia;
			flex: 5 1 auto;
			height: 30px;
		}
		.social {
			background-color: fuchsia;
			flex: 1 1 auto;
			height: 30px;
		}

	.texto-principal {
		background-color: yellowgreen;	
	}
		h1 {
			background-color: blue;		
		}

.section {
	background-color: #000;	
	display: flex;
}
	.articulos {
		background-color: purple;	
		flex: 2 1 auto;
		display: flex;
		flex-flow: row wrap;
	}
		.article {
			background-color:gold;	
			flex: 1 1 40%;
		}
		.navegacion {
			background-color: aqua;
			flex: 1 1 100%;
		}
	.aside {
		background-color: crimson;	
		flex: 1 1 auto;
	}
		.publicidad {
			background-color: lawngreen;	
		}

.footer {
	background-color: black;
	display: flex;
	justify-content: center;
}
	.pie{
		background-color: seagreen;
		width:300px;
	}