* {
	margin: 0px;
	padding: 10px;
	box-sizing: border-box;
}

body {
	font-family: 'Mukta', 'Source Sans Pro', sans-serif;
}

a {
	text-decoration: none;
}

.padre {
	display: flex;
	flex-flow: column nowrap;
}

.header {
	background-image: url(../images/fellows.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	display: flex;
	flex-flow: column nowrap;
}
	.menu {
		background-color:rgba(0,0,0,.1);
		display: flex;
		flex-flow: row nowrap;
		height: 60px;
		align-items: center;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}

		.logo {
			flex: 1 1 auto;
			
		}
			.logo a {
				color: #fff;
				font-size: 30px;
			}
			.logo a:hover {
				color: #343434;
			}
		.nav {
			flex: 5 1 auto;
		}
			.nav a{
				color: #fff;
				font-size: 11px;
				text-transform: uppercase;	
				padding: 0 10px;
				letter-spacing: 2px;
			}
			.nav a:hover{
				color: #343434;
			}
		.social {
			flex: 1 1 auto;
			display: flex;
		}
			.social a{
				font-size: 18px;
				color: #fff;
				padding: 0 5px;
			}
			.social a:hover{
				color: #343434;
			}

	.texto-principal {
		background-color: yellowgreen;	
	}
		h1 {
			background-color: blue;		
		}

.section {
	background-color: #000;	
	display: flex;
}
	.articulos {
		background-color: purple;	
		flex: 2 1 auto;
		display: flex;
		flex-flow: row wrap;
	}
		.article {
			background-color:gold;	
			flex: 1 1 40%;
		}
		.navegacion {
			background-color: aqua;
			flex: 1 1 100%;
		}
	.aside {
		background-color: crimson;	
		flex: 1 1 auto;
	}
		.publicidad {
			background-color: lawngreen;	
		}

.footer {
	background-color: black;
	display: flex;
	justify-content: center;
}
	.pie{
		background-color: seagreen;
		width:300px;
	}